@import url("https://fonts.googleapis.com/css?family=Cardo,Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #1f485d;
  font-family: "Cardo", sans-serif;
  overflow-x: hidden;

}

h1 {
    font-family: "Cardo", sans-serif;
    color: #fff;
    font-size: 6.5rem;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 2.5rem;
}

a {
  color: #fff !important;
}

.row-title {
  width: 100%;
  height: 650px;
}

.card-text {
  text-align: center;
  font-family: 'Cardo', sans-serif;
  font-size: 1.5rem;
}

.title-image {
  width: 100%;
  height: 650px;
  margin-bottom: 20px;
  position: absolute;
  z-index: -1;
}

.el {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 650px;
  width: 100%;
  padding-top: 100px;
}

.line1 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 10%;
}

.line2 {
    height: 500px;
    width: 6px;
    position: absolute;
    right: 10%;
    background-color: white;
   
}

.features {
    padding: 3% 2%;
    background-color: white;
}

#footer {
    background-color: #fff;
    margin-top: 20px;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
    cursor: pointer;
    font-size: 2.5em;
  }

.p-f {
    margin-bottom: 0;
}
